<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

span {
	/* 테두리 왼쪽, 오른쪽이 잘려나갈 수 있다 */
	/* 자동 줄바꿈이 발생했을 때 */
/* 	border: 1px solid red; */
	border-bottom: 1px solid red;
	
	background-color: #f99;
	
	/* 적용 안됨 */
	width: 1000px;
	height: 1000px;
	
	/* 내부 여백 */
	/* 배경을 포함한 내부 영역이 넓어진다 */
	padding: 5px;
	
	/* 상하 외부 여백이 없다 */
	margin: 10px;
	
	line-height: 2.5em;
	
}

</style>
</head>
<body>

<div>

	<span id="span1">SPAN1</span>
	<span id="span2">SPAN2</span>
	<span id="span3">SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3</span>
	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Cras cursus rutrum nisi. Quisque ac volutpat odio. Etiam tristique metus nec maximus ornare. Curabitur eu volutpat mauris, vitae elementum diam. Maecenas porta id enim sollicitudin euismod. Curabitur a malesuada mi, at lobortis mi. Suspendisse pulvinar ullamcorper molestie. Nam ut lacus non enim suscipit fringilla. Proin vitae dui vestibulum, tempor purus quis, placerat massa. Aliquam erat volutpat. Donec sodales eros non ex suscipit, et dictum velit pulvinar. In purus tellus, malesuada quis mi in, faucibus facilisis libero. Vestibulum auctor eleifend velit, eu bibendum dolor placerat quis. Nulla a efficitur orci. Vestibulum consectetur et sapien a vehicula. Pellentesque consequat accumsan enim.</span>

</div>

</body>
</html>