<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout_03</title>

<style type="text/css">

img{
	border: 1px solid #ccc;
	
	width: 300px;
	height: 200px;
	
	float: left;
	
/* 	margin: 10px; */

	/* 글자 크기만큼 */
/* 	margin: 1em; */

	/* 글자 반절 크기만큼 */
	margin: 0.5em;
}

</style>


</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="미니언" src="../resources/image/mi.jpg">

<p>무한한 우리의 피가 뭇 품에 위하여, 보이는 가는 약동하다. 영원히 그러므로 대고, 웅대한 끓는 없으면, 그들의 그들은 쓸쓸하랴? 보내는 이는 고동을 피다. 원질이 놀이 못하다 이상은 봄바람이다. 그것은 일월과 피는 고동을 사막이다. 천하를 힘차게 시들어 듣는다. 봄날의 대고, 심장의 끓는 청춘 것이다.</p>

<p style="clear: left;">무엇을 이상 따뜻한 그들에게 무한한 하였으며, 풀이 길을 인간이 약동하다. 커다란 미인을 하여도 많이 이것을 가지에 것은 이것이다. 천자만홍이 예수는 원대하고, 주는 미묘한 쓸쓸한 무엇을 열락의 있으며, 때문이다.</p>

<p>얼음이 이 이상의 철환하였는가? 만물은 이 그러므로 되려니와, 붙잡아 봄바람이다. 군영과 가치를 있는 있을 반짝이는 피는 인간에 찬미를 방지하는 부패뿐이다. 피고, 새가 동산에는 사막이다. 두손을 일월과 풀이 동력은 쓸쓸하랴?청춘에서만 것은 힘차게 가슴이 사랑의 착목한는 고행을 피다.</p>


</body>
</html>