<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout_06</title>

<style type="text/css">

#content{
	width: 1300px;
	margin: 0 auto;
}

#content div{
	border: 3px solid #ccc;
	
	width: 300px;
	height: 150px;
	
	float: left;
	
	margin: 0 9px;
	margin-top: 10px;
}

#visible{overflow: visible;}
#hidden{overflow: hidden;}
#scroll{overflow: scroll;}
#auto{overflow: auto;}

</style>

</head>
<body>

<div id="content">

	<div id="visible">
		<p>
			관현악이며, 위하여, 우는 청춘의 속에 동력은 같이, 천고에 피는 피다. 착목한는 목숨을 굳세게 이 싸인 소리다.이것은 거친 그러므로 것이다.관현악이며, 위하여, 우는 청춘의 속에 동력은 같이, 천고에 피는 피다. 착목한는 목숨을 굳세게 이 싸인 소리다. 이것은 거친 그러므로 것이다.
		</p>
	</div>

		<div id="hidden">
		<p>
			대한 같지 천지는 예가 못하다 없는 구하기 철환하였는가? 작고 행복스럽고 수 것이다.보라, 산야에 그들은 살 평화스러운 만물은 것이다. 현저하게 말이다.대한 같지 천지는 예가 못하다 없는 구하기 철환하였는가? 작고 행복스럽고 수 것이다.보라, 산야에 그들은 살 평화스러운 만물은 것이다. 현저하게 말이다.
		</p>
	</div>
	
		<div id="scroll">
		<p>
			가치를 인생을 피가 이상 공자는 가치를 천자만홍이 할지라도 반짝이는 약동하다. 그들의 아니더면, 꾸며 할지라도 뜨거운지라, 설레는 뼈 힘있다.가치를 인생을 피가 이상 공자는 가치를 천자만홍이 할지라도 반짝이는 약동하다. 그들의 아니더면, 꾸며 할지라도 뜨거운지라, 설레는 뼈 힘있다.
		</p>
	</div>
	
		<div id="auto">
		<p>
			산야에 얼마나 인생을 그들의 위하여, 밥을 사막이다. 위하여 놀이 인간의 열락의 만물은 주는 그러므로 운다.산야에 얼마나 인생을 그들의 위하여, 밥을 사막이다. 위하여 놀이 인간의 열락의 만물은 주는 그러므로 운다.
		</p>
	</div>

</div>


</body>
</html>